services:
  api:
    build:
      context: .
    restart: always
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "5000:5000"
    command: [ "bash", "/docker-entrypoint.sh", "gunicorn", "main:app" ]

  postgres:
    image: ${POSTGRES_IMAGE}
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test:
        - "CMD"
        - "sh"
        - "-c"
        - "pg_isready -U ${POSTGRES_USER}"
      interval: 5s
      timeout: 3s
      retries: 40

  adminer:
    image: ${ADMINER_IMAGE}
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: ${REDIS_IMAGE}
    restart: always
    healthcheck:
      test:
        - "CMD"
        - "redis-cli"
        - "ping"
      interval: 5s
      timeout: 3s
      retries: 40
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redisinsight:
    image: ${REDISINSIGHT_IMAGE}
    restart: always
    ports:
      - "5540:5540"
    depends_on:
      redis:
        condition: service_healthy

volumes:
  images_data:
  postgres_data:
  redis_data:
